In [17]:
print("Female student details")

print("Name | Age | Height | Score")
gname1 = ("Evelyn", 17, 5.5, 80)
gname2 = ("Jessica", 16, 6.0, 85)
gname3 = ("Somto", 17, 5.4, 70)
gname4 = ("Edith", 18, 5.9, 60)
gname5 = ("Liza", 16, 5.6, 76)
gname6 = ("Madonna", 18, 5.5, 66)
gname7 = ("Waje", 17, 6.1, 87)
gname8 = ("Tola", 20, 6.0, 95)
gname9 = ("Aisha", 19, 5.7, 50)
gname10 = ("Latifa", 17, 5.5, 49)
print(gname1)
print(gname2)
print(gname3)
print(gname4)
print(gname5)
print(gname6)
print(gname7)
print(gname8)
print(gname9)
print(gname10)

Female student details
Name | Age | Height | Score
('Evelyn', 17, 5.5, 80)
('Jessica', 16, 6.0, 85)
('Somto', 17, 5.4, 70)
('Edith', 18, 5.9, 60)
('Liza', 16, 5.6, 76)
('Madonna', 18, 5.5, 66)
('Waje', 17, 6.1, 87)
('Tola', 20, 6.0, 95)
('Aisha', 19, 5.7, 50)
('Latifa', 17, 5.5, 49)

In [18]:
print("Male student details")

print("Name | Age | Height | Scores")
bname1 = ("Chinedu", 19, 5.7, 74)
bname2 = ("Liam", 16, 5.9, 87)
bname3 = ("Wale", 18, 5.9, 75)
bname4 = ("Gbenga", 17, 6.1, 68)
bname5 = ("Abiola", 20, 5.9, 66)
bname6 = ("Kola", 19, 5.5, 78)
bname7 = ("Kunle", 16, 6.1, 87)
bname8 = ("George", 18, 5.4, 98)
bname9 = ("Thomas", 17, 5.8, 54)
bname10 = ("Wesley", 19, 5.7, 60)

print(bname1)
print(bname2)
print(bname3)
print(bname4)
print(bname5)
print(bname6)
print(bname7)
print(bname8)
print(bname9)
print(bname10)

Male student details
Name | Age | Height | Scores
('Chinedu', 19, 5.7, 74)
('Liam', 16, 5.9, 87)
('Wale', 18, 5.9, 75)
('Gbenga', 17, 6.1, 68)
('Abiola', 20, 5.9, 66)
('Kola', 19, 5.5, 78)
('Kunle', 16, 6.1, 87)
('George', 18, 5.4, 98)
('Thomas', 17, 5.8, 54)
('Wesley', 19, 5.7, 60)